@font-face {
  font-family: "";
  src: local(""),
  url('../fonts/.ttf') format('truetype'), url("../fonts/.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @include flex();
  justify-content: center;
  width: 100%;
  min-width: $mobile-width;
  max-width: 100%;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 1.8;
  background-color: #f3efe9;
}

img {
  max-width: 100%;
  height: auto;
}