@font-face {
  font-family: "";
  src: local(""),
  url('../fonts/.ttf') format('truetype'), url("../fonts/.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @include flex();
  justify-content: center;
  min-width: $mobile-width;
  width: 100%;
  max-width: 100%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
