.about__container {
    @include indent();
    @include flex();
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;

    @include media-tablet {
        width: 80%;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    @include media-custom(1024px) {
        margin-bottom: 50px;
        flex-direction: column;
    }
}

.about__container--questions {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 60%;
        left: 45%;
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M24 12c0-6.623-5.377-12-12-12s-12 5.377-12 12 5.377 12 12 12 12-5.377 12-12zm-1 0c0-6.071-4.929-11-11-11s-11 4.929-11 11 4.929 11 11 11 11-4.929 11-11zm-11.5 4.828l-3.763-4.608-.737.679 5 6.101 5-6.112-.753-.666-3.747 4.604v-11.826h-1v11.828z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
    }

    @include media-tablet {
        @include flex();
        justify-content: center;
        align-items: center;
    }

    @include media-custom(1024px) {
        margin-bottom: 0;
        font-size: 16px;

        &::after {
            top: 70%;
            left: 48%;
            width: 60px;
            height: 60px;
            background-size: 80% 80%;
        }
    }

    @include media-custom($desktop-width) {
        &::after {
            // display: none;
        }
    }
}

.about__text {
    @include indent();
    @include main-text();
    margin-bottom: 20px;
    padding: 20px;

    @include media-tablet {
        margin-bottom: 50px;
        font-size: 16px;
    }

    @include media-custom(1024px) {
        font-size: 16px;
        color: #3b424b;
        padding: 1em 5em;
        padding-top: 2em;
        background-color: #f3efe9;
    }
}

.about__text--welcome {
    @include media-custom(1024px) {
       text-align: center;
       font-size: 18px;
       width: 100%;
       padding: 5em;
       line-height: 2;
       letter-spacing: 5px;
       line-height: 2;
    }
}

.about__span {
    @include media-custom(1024px) {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-weight: bold;
    }
}

.about__text--questions {
    @include media-tablet {
        margin-top: 50px;
    }
}

.about__container--img {
    @include indent();
    @include flex();

    @include media-custom(1024px) {
        justify-content: space-between;
    }
}

.about__img {
    width: 320px;
    display: block;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);

    @include media-tablet {
        width: 600px;
        margin-bottom: 50px;
    }

    @include media-custom(1024px) {
        width: 500px;
        margin: 50px;
    }
}

.about__img--desktop {
    display: none;

    @include media-custom(1024px) {
        display: block;
    }
}

.about__link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }

    @include media-tablet {
        font-size: 16px;
    }
}