.alters__container {
    @include indent();
    @include flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;

    @include media-tablet {
        width: 80%;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

.alters__text {
    @include indent();
    @include main-text();
    padding: 20px;
    margin-bottom: 20px;
    
    @include media-tablet {
        margin-bottom: 50px;
    }
}

.alters__list {
    width: 80%;
    max-width: 80%;
    @include indent();
    @include flex();
    flex-direction: column;
    @include list();

    @include media-tablet {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.alters__item {
    @include indent();
    @include flex();
    margin-bottom: 50px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    
    @include media-tablet {
    }
}

.alters__link {
    @include indent();
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
    padding: 20px;
    @include flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }

    & p {
        @include indent();
        letter-spacing: 3px;
        padding: 20px;
        color: $main-red-color;
    }

    & img {
        width: 320px;
     }

    @include media-tablet {
        & p {
            font-size: 16px;
        }

        & img {
        }
    }

    @include media-custom(1024px) {
    }
}