.alters__container {
    @include indent();
    @include flex();
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;

    @include media-tablet {
        width: 80%;
        max-width: 80%;
        background-color: transparent;
        outline: 2px dashed rebeccapurple;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
    }
}

.alters__text {
    font-size: 14px;
    line-height: 1.8;
    @include indent();
    margin-bottom: 20px;
    padding: 0.5em;
    text-align: center;
    background-color: #ffffff;

    @include media-tablet {
        color: beige;
        font-size: 16px;
        padding: 0.5em 1em;
        text-align: left;
        margin-bottom: 50px;
        background-color: transparent;
    }
}

.alters__list {
    @include indent();
    @include flex();
    flex-direction: column;
    @include list();
    background-color: #ffffff;

    @include media-tablet {
        width: 100%;
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
    }
}

.alters__item {
    @include indent();
    @include flex();
    margin-bottom: 20px;
    outline: 2px dashed crimson;

    @include media-tablet {
        margin: 10px;
        margin-bottom: 20px;
        outline: 3px dashed crimson;
    }
}

.alters__link {
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
    padding: 10px;
    @include flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }

    & p {
        @include indent();
        padding: 0.5em;
    }

    @include media-tablet {
        color: beige;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 0;
    }
}