.breed {
    @include indent();
}

.breed__container {
    @include indent();
    @include flex();
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-image: url("../../img/coon.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: content;

    @include media-tablet {
       background: transparent;
    }

    @include media-custom(1024px) {
    }
}

.breed__title {
    @include indent();
    font-size: 18px;
    padding: 0.2em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $main-red-color;

    @include media-tablet {
        padding: 0.5em;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.breed__text {
    @include indent();
    margin-bottom: 10px;
    @include main-text();
    padding: 20px;
    backdrop-filter: blur(3px);

    @include media-tablet {
        font-size: 16px;
        text-align: left;
        margin-bottom: 50px;
    }

    @include media-custom(1024px) {
        margin-bottom: 50px;
    }
}

.breed__container--img {
    @include indent();
}

.breed__img {
    display: block;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

    @include media-tablet {
        width: 600px;
        margin-bottom: 50px;
    }
}