.cats {
    @include indent();
    @include flex();
    flex-direction: column;
    padding: 20px;
}

.cats__presentation {
    @include indent();
    margin-bottom: 50px;

    @include media-tablet {
        margin-bottom: 50px;
        letter-spacing: 2px;
        padding: 20px;
    }

    @include media-custom(1024px) {
        margin-bottom: 80px;
    }
}

.cats__presentation-text {
    @include indent();

    @include media-custom(1024px) {
        margin-bottom: 50px;
    }

    @include main-text();
}

.cats__presentation--contact {
    color: $main-red-color;
    font-weight: bold;

    @include media-custom(1024px) {
        font-size: 16px;
    }
}

.cats__nav-list {
    @include list();
    @include indent();
    @include flex();
    flex-direction: column;
    margin-bottom: 20px;

    @include media-tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    @include media-custom(1024px) {
        padding: 0 100px;
    }
}

.cats__nav-item {
    width: 100%;
    max-width: 100%;
    @include indent();
    margin-bottom: 20px;
    @include flex();
    justify-content: center;
    align-self: center;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 150px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3em);

    @include media-tablet {
        margin-bottom: 40px;
    }

    @include media-custom(1024px) {
        max-width: 45%;
        margin-bottom: 80px;
        min-height: 300px;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3em);
    }
}

.cats__nav-item--kittens,
.cats__nav-item--male,
.cats__nav-item--female,
.cats__nav-item--youngsters {
    background-image: url('../img/paws.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include media-custom(1024px) {
    }
}

.cats__nav-item--male {
    background-position: center center;
    
}

.cats__nav-item--female {
    background-position: 10% 75%;
}

.cats__nav-item--youngsters {
    background-position: bottom center;
}

.cats__nav-link {
    display: block;
    color: $main-red-color;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-weight: bold;
    @include flex();
    justify-content: center;
    align-self: center;
    backdrop-filter: blur(3px);
    font-family: Arial, Helvetica, sans-serif;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }

    @include media-tablet {
    }

    @include media-custom(1024px) {
        font-size: 18px;
        padding: 0.5em 1em;
        letter-spacing: 10px;
    }
}