.females {
    @include indent();
}

.females__container {
    @include indent();
    @include flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;

    @include media-tablet {
        width: 80%;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

.females__list {
    width: 80%;
    max-width: 80%;
    @include indent();
    @include flex();
    flex-direction: column;
    @include list();

    @include media-tablet {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.females__item {
    @include indent();
    @include flex();
    // flex-direction: column;
    margin-bottom: 70px;
    
    @include media-tablet {
    }
}

.females__link {
    @include indent();
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
    padding: 20px;
    @include flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }

    & p {
        @include indent();
        font-size: 16px;
        letter-spacing: 3px;
        padding: 20px;
        color: $main-red-color;
    }

    & img {
        width: 320px;
     }

    @include media-tablet {
        & p {
            font-size: 18px;
        }

        & img {
           width: 400px;
        }
    }

    @include media-custom(1024px) {
    }
}

.females__link--pawpeds {
    border: 2px solid $main-red-color;
    width: 100%;
    padding: 20px;
    @include flex();
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    height: 20px;
    // background-image: url('../../img/paws.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}