.footer {
    @include indent();
    @include flex();
    flex-direction: column;
}

.footer__title {
    @include indent();
    padding: 0.5em;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8;
}

.footer__name,
.footer__tel,
.footer__email {
    @include indent();
    padding: 0.5em;
    font-size: 14px;
    line-height: 1.8;
}

.footer__tel-link,
.footer__email-link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
    font-weight: bold;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}

.footer__email {
    margin-bottom: 20px;
}

.footer__social-list {
    @include list();
    @include indent();
    margin-bottom: 20px;
    @include flex();
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.footer__social-item {
    @include indent();
}

.footer__social-btn {
    @include flex();
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    & svg {
        width: 20px;
        height: 20px;
    }

    &:hover svg,
    &:focus svg {
        opacity: 0.5;
    }

    &:active svg {
        opacity: 0.8;
    }
}