.footer {
    @include indent();
    justify-content: center;
    align-items: center;
    padding: 1%;

    // include flex();
    // lex-direction: column;

    @include media-tablet {
        background-color: darkgray;
        background-image: url("../../img/dark-pattern.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        color: rgb(6, 46, 6);
    }
}

.footer__title {
    @include indent();
    padding: 0.5em;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8;

    @include media-tablet {
        font-size: 18px;
    }
}

.footer__container {
    @include indent();
    width: 100%;
    max-width: 100%;
    @include flex();
    flex-direction: column;

    @include media-tablet {
        outline: 2px dashed rebeccapurple;
        text-align: center;
        background-color: rgba(250, 250, 250, 0.8);
        backdrop-filter: blur(3px);
    }
}

.footer__name,
.footer__tel,
.footer__email {
    @include indent();
    padding: 0.5em;
    font-size: 14px;
    line-height: 1.8;

    @include media-tablet {
        font-size: 18px;
    }
}

.footer__tel-link,
.footer__email-link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
    font-weight: bold;
    color: rgb(6, 46, 6);

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}

.footer__email {
    margin-bottom: 20px;
}

.footer__social-list {
    @include list();
    @include indent();
    margin-bottom: 20px;
    @include flex();
    justify-content: space-between;
    align-items: center;
    width: 120px;
    outline: 2px dashed rebeccapurple;

    @include media-tablet {
       width: 200px;
       margin-right: auto;
       margin-left: auto;
    }
}

.footer__social-item {
    @include indent();
}

.footer__social-btn {
    @include flex();
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    & svg {
        width: 20px;
        height: 20px;
    }

    &:hover svg,
    &:focus svg {
        opacity: 0.5;
    }

    &:active svg {
        opacity: 0.8;
    }

    @include media-tablet {
        & svg {
            width: 30px;
            height: 30px;
        }
     }
}