.main {
    @include indent();
    padding: 10px;
    margin-bottom: 10px;
    @include flex();
    flex-direction: column;

    background-color: beige;
}

.main__presentation {
    @include indent();
    padding: 2%;
    margin-bottom: 10px;
    background-color: #ffffff;
    outline: 2px dashed purple;
}

.main__presentation-text {
    @include indent();
    font-size: 14px;
    line-height: 1.8;
    padding: 0.5em;
    text-align: center;
}

.main__presentation--contact {
    font-weight: bold;
}

.main__presentation-img {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.main__index-link {
    display: block;
    padding: 1em;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
    font-weight: bold;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}