.main-nav {
    @include indent();
    @include flex();
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

.main-nav__toggle {
    @include indent();
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 none;
    background-color: transparent;
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg id='light' enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m21.5 24h-19c-1.379 0-2.5-1.122-2.5-2.5v-19c0-1.378 1.121-2.5 2.5-2.5h19c1.379 0 2.5 1.122 2.5 2.5v19c0 1.378-1.121 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m16.5 8h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m16.5 12.5h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m16.5 17h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
    background-color: transparent;
    cursor: pointer;
}

.main-nav__toggle-close {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20.514px' height='20.512px' viewBox='0 0 20.514 20.512' enable-background='new 0 0 20.514 20.512' xml:space='preserve'%3E%3Cpolygon fill='%23231F20' points='20.513,1.414 19.099,0 10.256,8.842 1.414,0 0,1.414 8.842,10.256 0,19.098 1.414,20.512 10.256,11.67 19.099,20.512 20.513,19.098 11.671,10.256 '/%3E%3C/svg%3E");
}

.main-nav__list {
    @include indent();
    @include flex();
    flex-direction: column;
    @include list();
    background-color: beige;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.menu-close {
    display: none;
}

.main-nav__item {
    @include indent();
    margin-bottom: 10px;
}

.main-nav__link {
    display: block;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }
}

.main-nav__link--active {
    color: #a59d2ae3;
}