.offsprings__container {
    @include indent();
    @include flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.offsprings__title {
    @include indent();
    font-size: 18px;
    padding: 0.2em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $main-red-color;

    @include media-tablet {
        padding: 0.5em;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.offsprings__text {
    @include indent();
    @include main-text();
    padding: 20px;

    @include media-tablet {
        font-size: 16px;
        text-align: left;
    }

    @include media-custom(1024px) {
        margin-bottom: 50px;
    }
}

.offsprings__table {
    width: 100%;
    max-width: 100%;
    padding: 10px;

    & td {
        padding: 0.5em;
        text-align: center;
        vertical-align: middle;
        background-color: #ffffff;

        @include media-tablet {
            font-size: 16px;
            background-color: rgba(255, 255, 255, 0.3);
        }

        @include media-custom(1024px) {
            padding: 0.7em;
            font-size: 16px;
            color: #3b424b;
        }
    }

    @include media-tablet {
        width: 80%;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    @include media-custom(1024px) {
        width: 60%;
        max-width: 60%;
        margin-bottom: 50px;
    }
}

.offsprings__table-link {
    display: block;
    padding: 0.5em 1em;
    color: $main-red-color;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;

    &:hover,
    &:focus {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.8;
    }

    @include media-tablet {
        font-size: 16px;
    }

    @include media-custom(1024px) {
    }
}