.plans {
    @include indent();
    padding: 10px;
    margin-bottom: 10px;
    outline: 2px dashed purple;
    
    @include media-tablet {
        @media screen and (min-width: $tablet-width) {
          @include flex();
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
        }
    }
}

.plans__inner {
    @include indent();
    padding: 10px;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;

    @include media-tablet {
        @media screen and (min-width: $tablet-width) {
          color: rgba(250, 250, 250, 0.7);
          max-width: 60%;
          padding: 20px;
          background-color: rgba(0, 0, 0, 0.2em);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3em);
          border-radius: 10px;
        }
    }
}

.plans__text {
    @include indent();
    font-size: 14px;
    line-height: 2.2;
    padding: 0.5em;
    text-align: center;

    @include media-tablet {
        @media screen and (min-width: $tablet-width) {
          font-size: 16px;
        }
    }
}