.plans {
    @include indent();
    padding: 10px;
    margin-bottom: 10px;
    outline: 2px dashed purple;
    // background-color: palegoldenrod;
}

.plans__inner {
    @include indent();
    padding: 10px;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
}

.plans__text {
    @include indent();
    font-size: 14px;
    line-height: 2.2;
    padding: 0.5em;
    text-align: center;
}