.wrapper {
  // width: 100%;
  // max-width: $desktop-width;
  // min-width: $mobile-width;

  width: 320px;
  margin-right: auto;
  margin-left: auto;
  outline: 4px dashed crimson;

  height: auto;
  @include indent();
  @include flex();
  flex-direction: column;
}

