.wrapper {
  width: 100%;
  max-width: $desktop-width;
  min-width: $mobile-width;

  height: auto;
  @include indent();
  @include flex();
  flex-direction: column;

  @include media-tablet {
    // outline: 4px dashed crimson;
  }
}

