@mixin indent() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin main-text() {
  font-size: 14px;
  line-height: 1.8;
  padding: 0.5em;
  text-align: center;
  letter-spacing: 1px;

  @include media-custom(1024px) {
    color: #3b424b;
    font-size: 16px;
    padding: 1em 5em;
  }
}